In [4]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from config import engine
from flask import Flask

In [5]:
sqlengine = create_engine(engine)
conn = sqlengine.connect()

In [6]:
clubs = pd.read_sql('select * from clubs', conn)
clubs.head()

                 club      league  club_id
0      Viktoria Plze?  ?eská Liga        1
1        Sparta Praha  ?eská Liga        2
2        Slavia Praha  ?eská Liga        3
3    TSV 1860 München     3. Liga        4
4  SC Preußen Münster     3. Liga        5

In [7]:
player_info = pd.read_sql('select * from player_info', conn)
player_info.head()

,fifa_id,name,age,nationality,overall,club_id,value,wage,position,ranking
0,158023,L. Messi,31,Argentina,94,341.0,110.5,565.0,RF,1
1,20801,Cristiano Ronaldo,33,Portugal,94,571.0,77.0,405.0,ST,2
2,190871,Neymar Jr,26,Brazil,92,420.0,118.5,290.0,LW,3
3,193080,De Gea,27,Spain,91,490.0,72.0,260.0,GK,4
4,192985,K. De Bruyne,27,Belgium,91,487.0,102.0,355.0,RCM,5

In [8]:
player_stats = pd.read_sql('select * from player_stats', conn)
player_stats.head()

,fifa_id,crossing,finishing,headingaccuracy,shortpassing,volleys,dribbling,curve,fkaccuracy,longpassing,...,penalties,composure,marking,standingtackle,slidingtackle,gkdiving,gkhandling,gkkicking,gkpositioning,gkreflexes
0,158023,84,95,70,90,86,97,93,94,87,...,75,96,33,28,26,6,11,15,14,8
1,20801,84,94,89,81,87,88,81,76,77,...,85,95,28,31,23,7,11,15,14,11
2,190871,79,87,62,84,84,96,88,87,78,...,81,94,27,24,33,9,9,15,15,11
3,193080,17,13,21,50,13,18,21,19,51,...,40,68,15,21,13,90,85,87,88,94
4,192985,93,82,55,92,82,86,85,83,91,...,79,88,68,58,51,15,13,5,10,13

In [12]:
countries = player_info['nationality'].unique()
len(countries)

34

In [22]:
country_medians = player_info.groupby("nationality").median()
country_medians

country_count = player_info.groupby("nationality").count()
country_count

,fifa_id,name,age,overall,club_id,value,wage,position,ranking
nationality,,,,,,,,,
Algeria,2,2,2,2,2,2,2,2,2
Argentina,9,9,9,9,9,9,9,9,9
Austria,1,1,1,1,1,1,1,1,1
Belgium,11,11,11,11,10,11,11,11,11
Bosnia Herzegovina,2,2,2,2,2,2,2,2,2
Brazil,30,30,30,30,25,30,30,30,30
Chile,2,2,2,2,2,2,2,2,2
Colombia,4,4,4,4,3,4,4,4,4
Costa Rica,1,1,1,1,1,1,1,1,1
Croatia,5,5,5,5,5,5,5,5,5
Denmark,2,2,2,2,2,2,2,2,2
Egypt,1,1,1,1,1,1,1,1,1
England,6,6,6,6,6,6,6,6,6
Finland,1,1,1,1,1,1,1,1,1
France,22,22,22,22,22,22,22,22,22
Gabon,1,1,1,1,1,1,1,1,1
Germany,21,21,21,21,21,21,21,21,21
Greece,2,2,2,2,2,2,2,2,2
Guinea,1,1,1,1,1,1,1,1,1
Italy,10,10,10,10,10,10,10,10,10
Korea Republic,1,1,1,1,1,1,1,1,1
Montenegro,1,1,1,1,1,1,1,1,1
Morocco,2,2,2,2,2,2,2,2,2
Netherlands,5,5,5,5,5,5,5,5,5
Poland,2,2,2,2,2,2,2,2,2
Portugal,9,9,9,9,7,9,9,9,9
Senegal,3,3,3,3,3,3,3,3,3
Serbia,2,2,2,2,2,2,2,2,2
Slovakia,2,2,2,2,2,2,2,2,2
Slovenia,3,3,3,3,3,3,3,3,3
Spain,29,29,29,29,29,29,29,29,29
Sweden,1,1,1,1,1,1,1,1,1
Uruguay,4,4,4,4,4,4,4,4,4
Wales,1,1,1,1,1,1,1,1,1

In [27]:
country_data = pd.DataFrame({"Median Wages":country_medians['wage'], "Player Count":country_count['fifa_id']})
country_data

                    Median Wages  Player Count
nationality
Algeria                    116.5             2
Argentina                  170.0             9
Austria                    110.0             1
Belgium                    155.0            11
Bosnia Herzegovina         147.5             2
Brazil                     115.0            30
Chile                      210.0             2
Colombia                   132.5             4
Costa Rica                 195.0             1
Croatia                    165.0             5
Denmark                    141.5             2
Egypt                      255.0             1
England                    145.0             6
Finland                     74.0             1
France                     140.0            22
Gabon                      265.0             1
Germany                    115.0            21
Greece                     118.0             2
Guinea                     120.0             1
Italy                      125.0            10
Korea Republic             125.0             1
Montenegro                  67.0             1
Morocco                     94.0             2
Netherlands                 93.0             5
Poland                     165.0             2
Portugal                    57.0             9
Senegal                    125.0             3
Serbia                     119.0             2
Slovakia                   103.5             2
Slovenia                    94.0             3
Spain                      115.0            29
Sweden                      15.0             1
Uruguay                    162.5             4
Wales                      355.0             1

In [28]:
clubmerge = pd.merge(player_info, clubs, on="club_id")
clubmerge

,fifa_id,name,age,nationality,overall,club_id,value,wage,position,ranking,club,league
0,158023,L. Messi,31,Argentina,94,341.0,110.5,565.0,RF,1,FC Barcelona,LaLiga Santander
1,176580,L. Suárez,31,Uruguay,91,341.0,80.0,455.0,RS,8,FC Barcelona,LaLiga Santander
2,192448,M. ter Stegen,26,Germany,89,341.0,58.0,240.0,GK,19,FC Barcelona,LaLiga Santander
3,189511,Sergio Busquets,29,Spain,89,341.0,51.5,315.0,CDM,21,FC Barcelona,LaLiga Santander
4,189242,Coutinho,26,Brazil,88,341.0,69.5,340.0,LW,33,FC Barcelona,LaLiga Santander
...,...,...,...,...,...,...,...,...,...,...,...,...
185,204935,J. Pickford,24,England,83,506.0,25.0,78.0,GK,181,Everton,Premier League
186,193474,I. Gueye,28,Senegal,83,506.0,21.0,125.0,RDM,199,Everton,Premier League
187,201995,Felipe Anderson,25,Brazil,83,504.0,31.5,110.0,LM,186,West Ham United,Premier League
188,200316,T. Horn,25,Germany,83,82.0,24.0,25.0,GK,190,1. FC Köln,Bundesliga 2
189,193698,O. Baumann,28,Germany,83,60.0,21.0,42.0,GK,198,TSG 1899 Hoffenheim,Bundesliga

In [29]:
club_wages = clubmerge.groupby("club").median()
club_wages

,fifa_id,age,overall,club_id,value,wage,ranking
club,,,,,,,
1. FC Köln,200316.0,25.0,83.0,82.0,24.00,25.0,190.0
AS Saint-Étienne,167628.0,31.0,84.0,426.0,19.00,41.0,148.0
Ajax,208670.0,25.0,83.0,268.0,32.50,28.0,172.0
Arsenal,188567.0,29.0,85.0,505.0,43.50,180.0,88.0
Atalanta,143076.0,30.0,84.0,585.0,30.00,53.0,152.0
Atlético Madrid,197577.0,26.5,85.0,352.0,41.25,84.5,94.0
Bayer 04 Leverkusen,202136.0,25.0,83.5,62.0,25.75,70.5,150.0
Borussia Dortmund,182881.5,29.0,85.0,68.0,33.75,88.5,106.5
Chelsea,205498.0,27.0,84.0,494.0,35.00,175.0,122.0
Everton,199204.5,26.0,83.0,506.0,23.00,101.5,190.0
FC Barcelona,189287.0,29.0,87.0,341.0,49.00,245.0,46.5
FC Bayern München,197445.0,26.0,85.0,65.0,38.00,110.0,86.0
FC Porto,204375.5,27.0,83.5,409.0,29.50,22.0,144.5
FC Schalke 04,171919.0,35.0,85.0,57.0,9.00,38.0,103.0
Inter,181458.0,29.0,85.0,575.0,35.50,105.0,98.0
Juventus,181783.0,31.0,86.0,571.0,30.00,160.0,74.0
LA Galaxy,41236.0,36.0,85.0,440.0,14.00,15.0,110.0
Lazio,199845.0,28.0,85.0,588.0,50.50,73.0,79.0
Leicester City,163587.0,31.0,84.0,491.0,19.00,78.0,150.0
Liverpool,209331.0,26.0,86.0,497.0,44.50,165.0,62.0
Manchester City,197818.5,27.0,85.5,487.0,40.75,177.5,80.5
Manchester United,192792.5,26.0,86.0,490.0,52.50,212.5,71.0
Milan,185157.5,27.0,85.5,584.0,45.00,180.0,111.5
Napoli,185020.0,30.0,87.0,589.0,45.00,115.0,53.0
Olympique Lyonnais,202556.0,24.0,84.0,414.0,42.00,92.0,125.0
Olympique de Marseille,191179.0,28.0,84.0,432.0,33.25,73.5,134.0
Paris Saint-Germain,199556.0,25.0,86.0,420.0,33.00,100.0,64.0
RB Leipzig,203776.5,24.5,83.0,64.0,30.50,72.0,182.0
RC Celta,192629.0,30.0,84.0,344.0,30.00,45.0,131.0
Real Betis,207566.0,26.0,84.0,350.0,31.50,38.0,121.0
Real Madrid,193041.0,28.0,88.0,343.0,51.00,240.0,37.0
Real Sociedad,190584.0,28.0,84.0,347.0,31.00,51.0,135.0
Roma,186852.0,29.5,85.0,586.0,34.00,105.5,94.0
SL Benfica,187367.0,31.0,83.5,403.0,21.00,23.5,170.5
Sevilla FC,193685.0,28.0,83.5,337.0,29.75,29.5,157.0
Sporting CP,212198.0,23.0,84.0,413.0,40.50,22.0,115.0
TSG 1899 Hoffenheim,193698.0,28.0,83.0,60.0,21.00,42.0,198.0
Tottenham Hotspur,200104.0,25.0,86.0,489.0,37.00,150.0,72.0
Valencia CF,194404.0,28.0,83.0,345.0,30.50,57.0,194.0
Villarreal CF,206545.0,26.0,83.0,338.0,30.00,49.0,175.0
Vissel Kobe,41.0,34.0,86.0,460.0,21.50,21.0,77.0
West Ham United,201995.0,25.0,83.0,504.0,31.50,110.0,186.0

In [30]:
club_count = clubmerge.groupby('club').count()
club_count

,fifa_id,name,age,nationality,overall,club_id,value,wage,position,ranking,league
club,,,,,,,,,,,
1. FC Köln,1,1,1,1,1,1,1,1,1,1,1
AS Saint-Étienne,1,1,1,1,1,1,1,1,1,1,1
Ajax,1,1,1,1,1,1,1,1,1,1,1
Arsenal,5,5,5,5,5,5,5,5,5,5,5
Atalanta,1,1,1,1,1,1,1,1,1,1,1
Atlético Madrid,10,10,10,10,10,10,10,10,10,10,10
Bayer 04 Leverkusen,2,2,2,2,2,2,2,2,2,2,2
Borussia Dortmund,2,2,2,2,2,2,2,2,2,2,2
Chelsea,7,7,7,7,7,7,7,7,7,7,7
Everton,2,2,2,2,2,2,2,2,2,2,2
FC Barcelona,12,12,12,12,12,12,12,12,12,12,12
FC Bayern München,15,15,15,15,15,15,15,15,15,15,15
FC Porto,4,4,4,4,4,4,4,4,4,4,4
FC Schalke 04,1,1,1,1,1,1,1,1,1,1,1
Inter,7,7,7,7,7,7,7,7,7,7,7
Juventus,15,15,15,15,15,15,15,15,15,15,15
LA Galaxy,1,1,1,1,1,1,1,1,1,1,1
Lazio,3,3,3,3,3,3,3,3,3,3,3
Leicester City,1,1,1,1,1,1,1,1,1,1,1
Liverpool,7,7,7,7,7,7,7,7,7,7,7
Manchester City,16,16,16,16,16,16,16,16,16,16,16
Manchester United,6,6,6,6,6,6,6,6,6,6,6
Milan,2,2,2,2,2,2,2,2,2,2,2
Napoli,7,7,7,7,7,7,7,7,7,7,7
Olympique Lyonnais,3,3,3,3,3,3,3,3,3,3,3
Olympique de Marseille,2,2,2,2,2,2,2,2,2,2,2
Paris Saint-Germain,11,11,11,11,11,11,11,11,11,11,11
RB Leipzig,2,2,2,2,2,2,2,2,2,2,2
RC Celta,1,1,1,1,1,1,1,1,1,1,1
Real Betis,1,1,1,1,1,1,1,1,1,1,1
Real Madrid,15,15,15,15,15,15,15,15,15,15,15
Real Sociedad,1,1,1,1,1,1,1,1,1,1,1
Roma,2,2,2,2,2,2,2,2,2,2,2
SL Benfica,2,2,2,2,2,2,2,2,2,2,2
Sevilla FC,2,2,2,2,2,2,2,2,2,2,2
Sporting CP,1,1,1,1,1,1,1,1,1,1,1
TSG 1899 Hoffenheim,1,1,1,1,1,1,1,1,1,1,1
Tottenham Hotspur,9,9,9,9,9,9,9,9,9,9,9
Valencia CF,3,3,3,3,3,3,3,3,3,3,3
Villarreal CF,3,3,3,3,3,3,3,3,3,3,3
Vissel Kobe,1,1,1,1,1,1,1,1,1,1,1
West Ham United,1,1,1,1,1,1,1,1,1,1,1

In [31]:
club_data = pd.DataFrame({"Median Age": club_wages['age'], "Median Wages": club_wages['wage'], "Player Counts": club_count['fifa_id']})
club_data

                        Median Age  Median Wages  Player Counts
club
1. FC Köln                    25.0          25.0              1
AS Saint-Étienne              31.0          41.0              1
Ajax                          25.0          28.0              1
Arsenal                       29.0         180.0              5
Atalanta                      30.0          53.0              1
Atlético Madrid               26.5          84.5             10
Bayer 04 Leverkusen           25.0          70.5              2
Borussia Dortmund             29.0          88.5              2
Chelsea                       27.0         175.0              7
Everton                       26.0         101.5              2
FC Barcelona                  29.0         245.0             12
FC Bayern München             26.0         110.0             15
FC Porto                      27.0          22.0              4
FC Schalke 04                 35.0          38.0              1
Inter                         29.0         105.0              7
Juventus                      31.0         160.0             15
LA Galaxy                     36.0          15.0              1
Lazio                         28.0          73.0              3
Leicester City                31.0          78.0              1
Liverpool                     26.0         165.0              7
Manchester City               27.0         177.5             16
Manchester United             26.0         212.5              6
Milan                         27.0         180.0              2
Napoli                        30.0         115.0              7
Olympique Lyonnais            24.0          92.0              3
Olympique de Marseille        28.0          73.5              2
Paris Saint-Germain           25.0         100.0             11
RB Leipzig                    24.5          72.0              2
RC Celta                      30.0          45.0              1
Real Betis                    26.0          38.0              1
Real Madrid                   28.0         240.0             15
Real Sociedad                 28.0          51.0              1
Roma                          29.5         105.5              2
SL Benfica                    31.0          23.5              2
Sevilla FC                    28.0          29.5              2
Sporting CP                   23.0          22.0              1
TSG 1899 Hoffenheim           28.0          42.0              1
Tottenham Hotspur             25.0         150.0              9
Valencia CF                   28.0          57.0              3
Villarreal CF                 26.0          49.0              3
Vissel Kobe                   34.0          21.0              1
West Ham United               25.0         110.0              1

In [33]:
player_stats.columns

Index(['fifa_id', 'crossing', 'finishing', 'headingaccuracy', 'shortpassing',
       'volleys', 'dribbling', 'curve', 'fkaccuracy', 'longpassing',
       'ballcontrol', 'acceleration', 'sprintspeed', 'agility', 'reactions',
       'balance', 'shotpower', 'jumping', 'stamina', 'strength', 'longshots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standingtackle', 'slidingtackle', 'gkdiving',
       'gkhandling', 'gkkicking', 'gkpositioning', 'gkreflexes'],
      dtype='object')

In [36]:
radar_stats = player_stats[{'fifa_id','acceleration', 'gkreflexes', 'positioning', 'aggression', 'shotpower'}]
radar_stats

     fifa_id  shotpower  acceleration  gkreflexes  aggression  positioning
0     158023         85            91           8          48           94
1      20801         95            89          11          63           95
2     190871         80            94          11          56           89
3     193080         31            57          94          38           12
4     192985         91            78          13          76           87
..       ...        ...           ...         ...         ...          ...
194   197965         75            82          15          68           84
195   195365         69            84          16          64           73
196   194404         28            53          82          40           11
197   193698         21            47          85          32           10
198   193474         80            76          13          84           67

[199 rows x 6 columns]

In [74]:
radarmerge = pd.merge(radar_stats, player_info, on="fifa_id")
radarmerge = radarmerge.drop(axis=1, columns = ['age','nationality','club_id', 'value', 'wage', 'position', 'overall'])

# radarmerge = radarmerge.set_index('ranking')
radarmerge.head(10)

,fifa_id,shotpower,acceleration,gkreflexes,aggression,positioning,name,ranking
0,158023,85,91,8,48,94,L. Messi,1
1,20801,95,89,11,63,95,Cristiano Ronaldo,2
2,190871,80,94,11,56,89,Neymar Jr,3
3,193080,31,57,94,38,12,De Gea,4
4,192985,91,78,13,76,87,K. De Bruyne,5
5,183277,82,94,8,54,87,E. Hazard,6
6,177003,79,80,9,62,79,L. Modrić,7
7,176580,86,86,37,87,92,L. Suárez,8
8,155862,79,76,11,88,60,Sergio Ramos,9
9,200389,22,43,89,34,11,J. Oblak,10

In [82]:
country_data = country_data.reset_index()
country_data
country_data.to_json('country.json', orient='records')

In [78]:
club_data.to_json('clubs.json', orient='records')

In [79]:
with open('clubs.json', 'w', encoding='utf-8') as file:
    club_data.to_json(file, force_ascii=False, orient='records')

In [75]:
radarmerge.to_json('radar.json', orient='records')

In [76]:
with open('radar.json', 'w', encoding='utf-8') as file:
    radarmerge.to_json(file, force_ascii=False, orient='records')